<launch>
  <param name="/use_sim_time" value="true"/>
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find turtlebot3_smach)/maps/map.yaml" >
    <param name="frame_id" value="/map" />
  </node>

  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom_broadcaster"
        args="10 10 0 0 0 0 map /robot1_tf/odom 100" /> 

    <include file="$(find turtlebot3_smach)/launch/multi_amcl.launch">
      <arg name="robot_namespace" value="robot1"/>
      <arg name="initial_pose_x" value="-2.0"/>
      <arg name="initial_pose_y" value="-0.5"/>
    </include>

    <include file="$(find turtlebot3_smach)/launch/multi_move_base.launch">
      <arg name="robot_namespace" value="robot1"/>
    </include>

  </group>
  
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom_broadcaster"
          args="10 10 0 0 0 0 map /robot2_tf/odom 100" />  

    <include file="$(find turtlebot3_smach)/launch/multi_amcl.launch">
      <arg name="robot_namespace" value="robot2"/>
      <arg name="initial_pose_x" value="-1.5"/>
      <arg name="initial_pose_y" value="-0.5"/>
    </include>

    <include file="$(find turtlebot3_smach)/launch/multi_move_base.launch">
      <arg name="robot_namespace" value="robot2"/>
    </include>

  </group>

  <group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom_broadcaster"
      args="10 10 0 0 0 0 map /robot3_tf/odom 100" />     

    <include file="$(find turtlebot3_smach)/launch/multi_amcl.launch">
      <arg name="robot_namespace" value="robot3"/>
      <arg name="initial_pose_x" value="-1"/>
      <arg name="initial_pose_y" value="-0.5"/>
    </include>

    <include file="$(find turtlebot3_smach)/launch/multi_move_base.launch">
      <arg name="robot_namespace" value="robot3"/>
    </include>
    
  </group>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtlebot3_smach)/rviz/default.rviz"
   output="screen" />

</launch>